<html>
    <head>
        <title>Mini Project #02</title>
    </head>
    <body>
        <h2>Leap Year Evaluation</h2>
        <form action="/leapyear/" method="POST">
            Please enter a year: <input type="text" name="year"><br/><br/>
            <input type="submit">
        </form>
    </body>
</html>
