<html>
    <head>
        <title>Mini Project #02</title>
    </head>
    <body>
        <h2>Year entered was a leap year.</h2>
        <img src="https://cloud.githubusercontent.com/assets/15232449/12858325/4fcbab04-cc1d-11e5-90a8-9e8841e713df.png" width="200" height="200" alt="Yes"></img>
        <br/><br/>
        <a href="/">Home</a>
    </body>
</html>